.login_img {
    margin-bottom: 10px;
    padding: 6px 8px;
    width: 200px;
    border-width: 0px;
}

select:focus, input[type="text"]:focus {
    outline: auto 5px -webkit-focus-ring-color;
}

.login-btn {
    float: right;
    color: white;
    margin-bottom: 10px;
    padding: 6px 8px;
    width: 120px;
    background-color: #43abf7;
    border: solid 1px #43abf7;
    border-radius: 5px;
    font-family: Arial,sans-serif, Tahoma, Verdana;
    font-size: 12pt;
    font-weight: 400;
}

.login-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px 8px;
    border: solid 1px RGBA(0, 0, 0, 0.12);
    border-radius: 3px;

    font-family: Arial,sans-serif, Tahoma, Verdana;
    color: rgba(0, 0, 0, 0.64);
    font-size: 10pt;
    font-weight: 500;
}

.btn {
    color: white;
    margin-bottom: 10px;
    width: 120px;
    padding: 6px 8px;
    background-color: #43abf7;
    border: solid 1px #43abf7;
    border-radius: 5px;
    font-family: Arial,sans-serif, Tahoma, Verdana;
    font-size: 11pt;
    font-weight: 400;
}


.border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.fa {
    color: #007acc;
    font-size: 18px !important;
    padding: 6px 8px;
}

.margin{
    margin-bottom: 8px;
}

#icons {
    display: flex;
    justify-content: space-between;
}